<selection class="set">
    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="Content/img/banner.gif">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner.gif">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner.gif">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner.gif">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner.gif">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner.gif">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner.gif">
            </div>
        </div>
        <div class="swiper-pagination pag"></div>
    </div>
    <nav class="nav">
        <dl>
            <dt><i class="icon iconfont icon-user"></i></i></dt>
            <dd>车商城</dd>
        </dl>
        <dl>
            <dt><i class="icon iconfont icon-tianmao1"></i></dt>
            <dd>车商城</dd>
        </dl>
        <dl>
            <dt><i class="icon iconfont icon-twitter"></i></dt>
            <dd>车商城</dd>
        </dl>
        <dl>
            <dt><i class="icon iconfont icon-pingguo"></i></dt>
            <dd>车商城</dd>
        </dl>
    </nav>
    <div class="main">
        <img src="Content/img/bg.gif">
        <p>保养预约68折 爱车浪漫购</p>
    </div>
    <div class="box">
        <h3>车主服务</h3>
        <table class="table">
            <tr>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><i class="icon iconfont icon-dizhi-01"></i></dt>
                        <dd>油卡充值</dd>
                    </dl>
                </td>
            </tr>
        </table>
    </div>
    <div class="xs">
        <h3>限时抢购 <span><time>13</time>:<time>13</time>:<time>13</time></span></h3>
        <div class="xs-main">
            <dl>
                <dt><img src="Content/img/img1.gif"></dt>
                <dd>
                    <p>补胎工具简易套装</p>
                    <span>￥9.9元</span><s>28元</s>
                </dd>
                <img src="Content/img/rx.gif" class="img">
            </dl>
            <dl>
                <dt><img src="Content/img/img2.gif"></dt>
                <dd>
                    <p>补胎工具简易套装</p>
                    <span>￥9.9元</span><small>28元</small>
                </dd>
                <img src="Content/img/rx.gif" class="img">
            </dl>
        </div>
    </div>
    <div class="hd">
        <h3>活动专区 <span>更多活动<i class="icon iconfont icon-angle-right"></i></span></h3>
        <div class="hd-main">
            <dl>
                <dd>
                    <p>测身价炫富</p>
                    <span>身材大PK</span>
                </dd>
                <dt><img src="Content/img/hd1.gif"></dt>
            </dl>
            <dl class="two">
                <dd>
                    <p>测身价炫富</p>
                    <span>身材大PK</span>
                </dd>
                <dt><img src="Content/img/hd2.gif"></dt>
            </dl>
            <dl>
                <dd>
                    <p>测身价炫富</p>
                    <span>身材大PK</span>
                </dd>
                <dt><img src="Content/img/hd3.gif"></dt>
            </dl>
        </div>
    </div>
    <div class="like">
        <h3>猜你喜欢 <span>更多活动<i class="icon iconfont icon-angle-right"></i></span></h3>
        <div class="like-main" ng-repeat="obj in objs">
            <dl>
                <dt><img ng-src="{{obj.src}}"></dt>
                <dd>
                    <h3>上汽大众-全新路途L</h3>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <span>1元</span><small>1.44万</small>
                </dd>
            </dl>
            <dl class="two">
                <dt><img ng-src="Content/img/car1.gif"></dt>
                <dd>
                    <h3>上汽大众-全新路途L</h3>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <span>1元</span><small>1.44万</small>
                </dd>
            </dl>
        </div>
    </div>
</selection>